@mixin boton {
  appearance: none;
  border: 0;
  outline: 0 !important;
  min-width: 184px;
  height: 50px;
  box-shadow: 4px 4px 16px rgba(123, 121, 182, 0.16);
  border-radius: 16px;
  font-size: var(--h6);
  font-weight: bold;
  padding: 0 30px;
  transition: .3s ease-in-out all;
  
  
  &.primario{
    background: #fff;
    color: var(--purple_tres);

    @media (hover: hover) {
      &:hover{
        background: var(--purple) !important;
        color: #fff !important; 
      }
    }
  }

  @media (max-width:992px) {
    min-width: auto;
    width: 100%;
    height: 50px;
    font-size: var(--h4);
  }
}

.botonera{
  .boton{
    margin: 0 15px;
  }

  @media (max-width:992px) {
    flex-direction: column;
    width: 100%;

    a{
      width: 100%;
    }

    .boton{
      margin: 0 0 20px 0;
    }
  }
}

.boton{
  @include boton;
}