footer.contact
    .container 
        .row 
            .col-lg-10.offset-lg-1
                h2.title-back CONTACT ME

        .row.contact--wrap
            .col-lg-4 
                h5 Do you have a project?
                h2 Lets make something awesome! 

            .col-lg-4.contact--redes
                a.link(href="mailto: sonia.gayosso.s@gmail.com" target="_blank" rel="noopener noreferrer") 
                    img.img-fluid(src="img/Icons/Mail.svg" alt="Gayosso")
                    span sonia.gayosso.s@gmail.com

                a.link(href="https://www.linkedin.com/in/soniagayossosanchez/" target="_blank" rel="noopener noreferrer") 
                    img.img-fluid(src="img/Icons/LinkedIn.svg" alt="Gayosso")
                    span linkedin.com/in/soniagayossoanchez

        .row.contact--copyright
            .col-12 
                h6 © Sonia Gayosso S, 2021