header.header
    .container
        .row.align-items-center
            .col-6.col-lg-2.header--logo
                a(href="../") 
                    img.img-fluid(src="img/Logos/Logo.png" alt="Gayosso")

            .col-lg-10.col-6.header--navegacion.d-flex
                nav.navbar-expand-lg
                    .btn(data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')

                    .collapse.navbar-collapse#navbarNav

                        ul

                            li#li-cartel 
                                a.text-decoration-none(href="index.html#lineup") About 

                            li#li-covid 
                                a.text-decoration-none(href="medidassanitarias.html") Work

                            li#li-boletos 
                                a.text-decoration-none(href="index.html#boletos") Resume

                            li#li-pass
                                a.text-decoration-none(href="index.html#beneficios") Blog

                        .nav--redes 
                            a(href="#!") 
                                button.boton.primario Contact me



