header.header
  .container
    .row.align-items-center
      .col-7.col-lg-2.header--logo
        a(href=ruta+"") 
          img.img-fluid(src="img/Logos/Logo.png" alt="Gayosso")

      .col-lg-10.col-5.header--navegacion.d-flex
        nav.navbar-expand-lg
          .btn(data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')

          .collapse.navbar-collapse#navbarNav

            ul

              li#li-about 
                a.text-decoration-none(href="index.html#about") About 

              li#li-work 
                a.text-decoration-none(href="index.html#work") Work

              li#li-resume 
                a.text-decoration-none(href="index.html#resume") Resume

              //- li#li-blog
              //-   a.text-decoration-none(href="#!") Blog

            .nav--redes 
              a(href="#!") 
                button.boton.primario#li-contact  Contact me



