aside.sidebar 
   a(href="http://" target="_blank" rel="noopener noreferrer") 
      img(src="img/Icons/LinkedIn.svg" alt="Gayosso")

   a(href="http://" target="_blank" rel="noopener noreferrer") 
      img(src="img/Icons/Mail.svg" alt="Gayosso")