aside.sidebar 
   a(href="mailto: sonia.gayosso.s@gmail.com" target="_blank" rel="noopener noreferrer") 
      img(src="img/Icons/LinkedIn.svg" alt="Gayosso")

   a(href="https://www.linkedin.com/in/soniagayossosanchez/" target="_blank" rel="noopener noreferrer") 
      img(src="img/Icons/Mail.svg" alt="Gayosso")