@mixin text-xxl-96 {
    font-size: 6rem;
    line-height: 5.375rem;
}

@mixin text-xl-56 {
    font-size: 3.5rem;
    line-height: 3.375rem;
}

@mixin text-lg-48 {
    font-size: 3rem;
}

@mixin text-lg-44 {
    font-size: 2.75rem;
    line-height: 3rem;
}

@mixin text-lg-40 {
    font-size: 2.5rem;
    line-height: 2.75rem;
}

@mixin text-lg-36 {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

@mixin text-lg-32 {
    font-size: 2rem;
    line-height: 2.5rem;
}

@mixin text-md-28 {
    font-size: 1.75rem;
}

@mixin text-md-24 {
    font-size: 24px;
    line-height: 1.75rem;
}

@mixin text-md-22 {
    font-size: 1.375rem;
    line-height: 1.625rem;
}

@mixin text-sm-18 {
    font-size: 1.125rem;
    line-height: 1.5rem;
}

@mixin text-sm-16 {
    font-size: 1rem;
    line-height: 1.5rem;
}

@mixin text-sm-14 {
    font-size: 0.875rem;
    line-height: 1rem;
}



// UTILS

@mixin tag {
    @include text-sm-14;
    color: var(--color-primario-01);
    padding: var(--spacing-xxs) var(--spacing-sm);
    width: max-content;
    border: 1px solid var(--color-primario-01);
    transition: .3s ease-in-out;

    &.tag-white {
        border-color: var(--color-blanco-01);
        color: var(--color-blanco-01);
    }

}

@mixin otros {
    padding: var(--spacing-6xl) 0;

    h2 {
        @include text-xl-56;
        margin-bottom: var(--spacing-3xl);
        font-weight: 100;
        color: var(--color-gris-02);
    }


    .col-lg-4 {
        padding: 0;

        &:nth-child(3n) {
            a {
                border-right: 0;
            }
        }

        &:nth-child(n+4) {
            a {
                border-bottom: 0;
            }
        }

        a {
            text-decoration: none;
            display: grid;
            place-content: flex-start;
            row-gap: var(--spacing-xs);
            background: var(--color-blanco-02);
            padding: var(--spacing-lg) var(--spacing-4xl) var(--spacing-lg) var(--spacing-lg);
            border: 1px solid #DADCDF;
            border-width: 0 2px 2px 0;
            transition: .3s ease-in-out;
            height: 100%;

            @media(hover:hover) {
                &:hover {
                    color: var(--color-blanco-01);
                    background: var(--color-primario-opacity);

                    .tag {
                        background: none;
                        border-color: var(--color-blanco-01);
                        color: var(--color-blanco-01);
                    }
                }
            }
        }
    }

    .tag {

        @include tag;
    }

    &__titulo {
        @include text-md-24;
        font-weight: 100;
    }

    &__body {
        @include text-sm-18;
        font-weight: 100;
    }

    @media(width < 768px) {
        padding-top: var(--spacing-xl);

        .col-lg-4 a {
            border-width: 0 0 1px 0;
        }
    }
}
