:root {
    --color-primario-01: #bb2649;
    --color-secundario-01: #055864;
    --color-secundario-02: #8DF2FD;
    --color-gris-02: #304B5F;
    --color-gris-03: #BAB9CC;
    --color-blanco-01: #fff;
    --color-blanco-02: #f0f0f5;
    --color-negro-01: #000;

    --color-primario-opacity: rgba(187, 38, 73, 0.75);
    --color-blanco-opacity: rgba(240, 240, 245, 0.75);
    --font-primaria-regular: "Open Sans", sans-serif;
    --font-secondary-regular: "Manrope", sans-serif;
    --font-terciary-regular: "Bitter", sans-serif;

    --spacing-6xl: 5rem;
    --spacing-5xl: 4rem;
    --spacing-4xl: 3.5rem;
    --spacing-3xl: 3rem;
    --spacing-2xl: 2.5rem;
    --spacing-xl: 2rem;
    --spacing-lg: 1.5rem;
    --spacing-md: 1rem;
    --spacing-sm: .75rem;
    --spacing-xs: .5rem;
    --spacing-xxs: .25rem;

    // UTILITIES

    --icon-close: url('data:image/svg+xml,<svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.8147 1.30798C11.993 1.12962 11.993 0.840447 11.8147 0.662089C11.6363 0.483731 11.3472 0.483731 11.1688 0.662089L6.00157 5.82932L0.834348 0.662103C0.65599 0.483745 0.366814 0.483745 0.188456 0.662103C0.010098 0.840461 0.010098 1.12964 0.188456 1.30799L5.35567 6.47521L0.18864 11.6422C0.0102822 11.8206 0.010282 12.1098 0.18864 12.2881C0.366998 12.4665 0.656174 12.4665 0.834532 12.2881L6.00157 7.12111L11.1686 12.2882C11.347 12.4665 11.6361 12.4665 11.8145 12.2882C11.9929 12.1098 11.9929 11.8206 11.8145 11.6423L6.64746 6.47521L11.8147 1.30798Z" fill="%23F0F0F5"/></svg>')
}
