:root {
    --color-primario-01: #bb2649;
    --color-secundario-01: #055864;
    --color-secundario-02: #8DF2FD;
    --color-gris-02: #304B5F;
    --color-blanco-01: #fff;
    --color-blanco-02: #f0f0f5;
    --color-negro-01: #000;

    --color-primario-opacity: rgba(187, 38, 73, 0.75);
    --color-blanco-opacity: rgba(240, 240, 245, 0.75);
    --font-primaria-regular: "Open Sans", sans-serif;

    --spacing-ml: 2rem;
    --spacing-md: 1.5rem;

}
