.home{
	
	.hero{
		padding-top: 180px !important;
		min-height: 900px;
		background: url('../img/Desktop/BG-Hero-2x.webp') no-repeat center top / cover;
		
		h1{
			z-index: 1;
			position: relative;

			span{
				color: var(--purple_dos);
				font-weight: 600;
			}
			
		}

		h5{
			margin: 30px 0;
			color: var(--negro);
		}

		&--pic{
			position: absolute;
			top: 320px;
			left: 30%;

			img{
				min-width: 340px;
			}
		}
	}

	.about{
		position: relative;
    	top: -30px;
		 padding-bottom: 60px;

		 .title-back{
			margin-bottom: 100px; 
		 }

		 p{
			 margin-bottom: 40px;
		 }

		 h2:not(.title-back){
			background: -webkit-linear-gradient(270deg, #7371C9 7.81%, #FA9035 96.77%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			font-weight: 800;
			margin-top: 280px;
			margin-bottom: 15px;
		 }
	}

	.education{
		position: relative;

		
		.timeline{
			position: absolute;
			top: 275px;
			left: 0;
			width: 100%;
			height: 4px;
			transition: .3s ease-in-out all;
			@include gradiente_uno;

			&.tm1{
				@include gradiente_uno;
				
			}
			
			&.tm2{
				@include gradiente_dos;
			}
			
		}

		.swiper{
			margin: 40px 0;
			overflow: hidden;
			position: relative;
			
			&-slide{
				display: flex;
				z-index: 0;
				// opacity: 0 !important;

				// &-active{
				// 	opacity: 1 !important;
				// }
				
				&#slide0 .swiper-slide__copy::before,
				&#slide4 .swiper-slide__copy::before{
					background: url('../img/Icons/flag.svg') no-repeat center / 40% var(--purple_dos);
				}
				
				&#slide1 .swiper-slide__copy::before,
				&#slide5 .swiper-slide__copy::before{
					background: url('../img/Icons/flag.svg') no-repeat center / 40% var(--orange_dos);
				}
				
				&#slide2 .swiper-slide__copy::before,
				&#slide6 .swiper-slide__copy::before{
					background: url('../img/Icons/flag.svg') no-repeat center / 40% var(--pink_2);
				}
				
				&#slide3 .swiper-slide__copy::before,
				&#slide7 .swiper-slide__copy::before{
					background: url('../img/Icons/flag.svg') no-repeat center / 40% var(--aqua);
				}
				
				&__img{
					width: 390px;
					height: 400px;
					overflow: hidden;
				}

				&__copy{
					display: flex;
					justify-content: space-around;
					align-items: flex-start;
					padding: 140px 0 0;

					&::before{
						content: "";
						position: absolute;
						display: block;
						top: 80px;
						left: 0;
						width: 30px;
						height: 30px;
						border-radius: 50%;
						z-index: 1;
						background: red;
						transition: .3s ease-in-out all;
					}
					
					&__parrafo{
						padding: 0 70px 0 0;
						position: relative;
						
						h4{
							font-weight: 800;
							margin-bottom: 10px;
						}
						
						h5{
							font-size: var(--min);
							margin-bottom: 15px;

							em{
								color: var(--purple_dos);
								font-style: normal;
								font-weight: 800;
								margin: 0 5px;
							}
							
							span{
								display: inline-flex;
								align-items: baseline;
								
								&::before{
									content: "";
									width: 5px;
									height: 5px;
									background: var(--gris);
									border-radius: 50%;
									margin: 0 5px;
								}
							}
						}

						.link{
							color: var(--purple_dos);
							text-decoration: underline;
						}

						.text-underline{
							text-decoration: underline;
							color: inherit;
						}
					}
				}
				
			}

			&-nav{
				position: absolute;
				right: 0;
				top: 60px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				z-index: 2;
			}

			&-button-prev{
				background: url('../img/Icons/Arrow-left-icon.svg') no-repeat center / 70% #fff;
				
				@media (hover: hover) {
					&:hover{
						background: url('../img/Icons/Arrow-left-icon_b.svg') no-repeat center / 70% var(--purple_dos);
					}
				}
			}
			
			&-button-next{
				background: url('../img/Icons/Arrow-right-icon.svg') no-repeat center / 70% #fff;
				
				@media (hover: hover) {
					&:hover{
						background: url('../img/Icons/Arrow-right-icon_b.svg') no-repeat center / 70% var(--purple_dos);
					}
				}
			}

			&-button-prev,
			&-button-next{
				width: 50px;
				height: 50px;
				border-radius: 50%;
				display: grid;
				place-items: center;
				font-size: 2rem;
				margin: 10px 0;
				cursor: pointer;
				box-shadow: 0 2px 10px rgba(123, 121, 182, 0.16);
				transition: .3s ease-in-out all;
				
				@media (hover: hover) {
					&:hover{
						color:  #fff;
					}
				}
			}

			&-pagination{
				margin-top: 10px;
				text-align: center;
				color: var(--gris_dark);

				span{
					font-size: var(--h5);
					
				}
			}
			
		}
	}

	.skills{
		position: relative;

		.objetFade{
			opacity: 0;
			transition: 1s ease-in-out all;

			&:nth-child(odd){
				transform: translateX(-100%);
			}
			&:nth-child(even){
				transform: translateX(100%);
			}
		}

		.transition1{
			opacity: 1;
			transform: translateX(0%) !important;
		}

		.title_shadow{
			margin-bottom: 120px;
		}

		&__row{
			margin: 10px auto;

			h3{
				margin: 0 6px;

				&.text_uno{
					color: var(--pink);
					font-weight: 700;
				}

				&.text_dos{
					color: var(--purple_dos);
					font-weight: 700;
				}
				
				&.text_tres{
					color: var(--orange);
					font-weight: 700;
				}
			}
		}
	}

	.software{

		.objetFade{
			opacity: 0;
			transition: 1s ease-in-out all;
			transform: rotateX(90deg);
		}

		.transition1{
			opacity: 1;
			transform: rotateX(0deg) !important;
		}
		
		&__lista{
			
			margin-top: 120px;
			
			ul{
				list-style: none;
				padding: 0;
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: 1fr 1fr 1fr;
				grid-auto-flow: column;
				
				li{
					font-size: var(--h4);
					margin-bottom: 20px;
	
					&::before{
						content: "";
						display: inline-block;
						vertical-align: middle;
						margin-right: 5px;
						height: 3px;
						width: 10px;
						background: var(--purple_dos);
					}
				}
			}
		}
	}

	.work{
		position: relative;
		padding-bottom: 100px;
		margin-top: 30px;
		@include gradiente_tres;
		

		.title-back{
			top: -30px;
			position: relative;
			margin-bottom: 50px; 
		}

		&__row{
			justify-content: space-around;
		}

		a{
			flex-basis: 30%;
		}

		&__card{
			overflow: hidden;
			position: relative;

			&::before{
				content: "";
				width: 20px;
				height: 20px;
				position: absolute;
				left: 0;
				bottom: 0;
				background: var(--purple_dos);
				z-index: 2;
				transition: .5s ease-in-out all;
			}
			
			&::after{
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				bottom: 0;
				@include gradiente_blanco;
			}

			@media (hover: hover) {
				&:hover{
					&::before{
						width: 100%;
						height: 100%;
					}

					.work__card__copy{
						bottom: 60%;
						top: 0;
						justify-content: flex-start;
						height: 100%;
						
						&::after{
							display: grid;
						}

						h4, h6{
							color: #fff;
						}
					}
				}
			}

			&__copy{
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				position: absolute;
				bottom: 0;
				left: 0;
				top: 50%;
				padding: 30px;
				z-index: 3;
				transition: .5s ease-in-out all;

				&::after{
					content: "More info";
					width: 60px;
					height: 60px;
					border: 1px solid #fff;
					border-radius: 50%;
					display: none;
					place-items: center;
					color: #fff;
					text-align: center;
					font-size: var(--h6);
					position: absolute;
					bottom: 60px;
					align-self: center;
				}

				h4{
					margin-bottom: 10px;
				}
			}
		}
	}

	.worked{
		text-align: center;

		.objetFade{
			opacity: 0;
			transition: .8s ease-in-out all;
			transform: rotateX(90deg);
		}

		.transition1{
			opacity: 1;
			transform: rotateX(0deg) !important;
		}

		h2{
			font-size: 120px;
			opacity: 0.6;
			color: var(--gris_medium);
			font-weight: 700;
		}

		&__logos{
			display: flex;
			margin: 40px auto;
			justify-content: space-between;
			
			&.col-10{
				margin-bottom: 100px;
			}
		}
	}

	.resume{
		padding-top: 0 !important;

		.title-back{
			position: relative;
			top: 30px;
			left: 30px;
			z-index: 1;
		}

		&--wrap{
			background: var(--gris_light);
			justify-content: space-evenly;
			align-items: center;
			
			picture{
				flex-basis: 40%;
				margin-top: 100px;

				box-shadow: 0 0 30px rgba(153, 152, 235, 0.322);
			}

			&--copy{
				flex-basis: 40%;

				h4{
					margin: 20px 0;
				}
			}
		}
	}

	
}


/// DESKTOP
@media (min-width:1440px) {
	.skills {
		.container{
			padding: 0;

			h3{
				font-size:calc(29px + 10 * ((100vw - 1440px) / 1920)); 
			}
		}
	}
}


// TABLET
@media (min-width:768px) and (max-width:992px) {
	.home{

		.work{
			&--row_cards{
				justify-content: center;
			}
	
			&__card{
				height: 300px !important;
			}
		}
	}
}


/// MOBILE
@media (max-width:992px) {
	
	.home{
		overflow-x: hidden;

		section{
			padding-left: 20px !important;
			padding-right: 20px !important;
		}

		.sidebar{
			position: absolute;
			z-index: 1;
			padding-bottom: 30px;
		}

		.hero{
			position: relative;
			background: url('../img/Mobile/BG-Hero-2x.webp') no-repeat center top / cover;
			padding: 100px 20px 0 !important;
			min-height: auto;

			h1{
				font-size: var(--h3);
			}

			.text-decorated{
				font-size: var(--h6);
			}

			&--pic{
				position: relative;
				top: 15px;
				right: 0;
				
				img{
					min-width: auto;
					width: 70%;
				}
			}
		}

		.about {
			padding-bottom: 40px;
			top: 0;

			.title-back{
				margin-bottom: 40px;
			}

			p, h5{
				font-size: var(--h4);
			}

			h2:not(.title-back){
				margin-top: 0px;
				font-size: var(--h1);

				br{
					display: none;
				}
			}
		}

		.education{	
			padding-right: 0 !important;

			.timeline{
				top: 125px;
			}

			&--col-img{
				padding: 0 20px 0 0;
				order: 2;
			}

			&--col-content{
				order: 1;
				padding-right: 0;
			}

			.swiper{
				margin: 40px auto 10px;

				&-slide{
					flex-basis: 90%;

					&__img{
						height: 200px;
					}

					&__copy{
						padding-top: 50px;

						&::before{
							top: 0;
						}

						&__parrafo{
							h4{
								font-size: var(--h3);
							}
							h5{
								font-size: var(--h6);
							}
						}

						
					}
				}

				&-nav{
					position: relative;
					left: 0;
					top: 10px;
					right: auto;
					flex-direction: row;
					justify-content: flex-start;
					align-items: center;
				}

				&-button-prev,
				&-button-next{
					width: 40px;
					height: 40px;
					font-size: 2rem;
					line-height: 0;
				}

				&-button-prev{order: 1;}
				&-button-next{order: 3;}
				&-pagination{
					order: 2;
					margin: 0 15px;
					font-size: var(--h5);
				}
				
			}
		} 

		.skills {
			
			.objetFade{
				&:nth-child(odd){
					transform: translateX(0%);
				}
				&:nth-child(even){
					transform: translateX(0%);
				}

				h3{
					transition: 1s ease-in-out all;

					&:nth-child(odd){
						transform: translateX(-100%);
					}
					&:nth-child(even){
						transform: translateX(100%);
					}	
				}
				
			}
	
			.transition1{
				h3{
					transform: translateX(0%) !important;
				}
			}

			.title_shadow{
				margin-bottom: 50px;
			}
			
			&__row{
				margin: 0;
				justify-content: center;
				
				h3{
					flex-basis: 100%;
					text-align: center;
					margin-bottom: 10px;
				}
			}
		}

		.software{
			&__lista{
				margin-top: 50px;

				ul{
					margin-bottom: 0;
					grid-template-columns: repeat(2,1fr);
					// grid-template-rows: 1fr 1fr;
					grid-auto-flow: initial;
				}
			} 
		}

		.work{
			padding-bottom: 30px;

			.title-back{
				margin-bottom: 20px;
			}

			&__row{
				flex-direction: column;
			}

			&__card{
				height: 180px;
				margin-bottom: 30px;
				overflow: hidden;

				&::after{
					height: 120%;
				}
			}
		}

		.worked{
			padding-bottom: 20px !important;

			h2{
				font-size: var(--h1);
			}

			&__logos{
				flex-wrap: wrap;
				justify-content: space-around;
				
				picture{
					flex-basis: 40%;
					margin-bottom: 20px;
				}
			}
		}

		.resume{
			&--wrap{
				padding: 60px 40px 40px 15px;
				
				picture{
					display: none;
				}

				&--copy{
					flex-basis: auto;

					h2{
						font-size: var(--h1);
					}

					.boton{
						width: 80%;
					}
				}
			}
		}
	}
}