.home {
    .hero {
        position: relative;
        height: 768px;
        display: flex;
        align-items: center;

        .custom-container {
            padding-right: 0;
        }

        video {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            z-index: -1;
        }

        &--title {
            h2 {
                @include text-xxl-96;
                font-weight: 300;
                ;
                color: var(--color-gris-02);

                strong {
                    margin-right: 24px;
                }

                span {
                    color: var(--color-primario-01);
                    font-weight: 500;
                }

            }

            &--uno {
                position: relative;
                display: flex;

                &::after {
                    content: "";
                    position: relative;
                    left: -4px;
                    top: 29px;
                    display: flex;
                    width: 100%;
                    height: 4px;
                    background: linear-gradient(to right, rgba(48, 75, 95, 1) 0%, rgba(187, 38, 73, 1) 100%);
                }
            }
        }

        &--text {
            position: absolute;
            top: 210px;
            right: 160px;

            h1 {
                color: var(--color-primario-01);
                @include text-lg-48;
                font-weight: 300;
            }

            h2 {
                @include text-md-24;
                font-weight: 300;
            }
        }
    }

    .resume {
        position: relative;
        padding-bottom: 98px;

        .row {
            display: flex;
            align-items: center;
        }

        picture {
            display: block;

            &#pic1 {
                // width: 474px;
                height: 792px;
                flex: 0 0 auto;
            }

            &#pic2 {
                // width: 195px;
                height: 297px;
                position: relative;
                left: -90px;
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

        }

        &--text {
            left: -66px;
            top: 70px;
            position: relative;

            h3 {
                @include text-md-24;
                font-weight: 300;
                margin-bottom: 200px;
            }

            h4 {
                @include text-md-24;
                font-weight: 300;
                margin-bottom: 12px;
                color: var(--color-gris-02);
            }

            button {
                border: 0;
                background: transparent;
                display: flex;
                column-gap: 16px;
                align-items: center;
                font-weight: 500;
                @include text-sm-18;
                transition: .3s ease-in-out;

                &::before {
                    content: "\e900";
                    font-family: 'icomoon' !important;
                    display: block;
                    width: 40px;
                    height: 40px;
                    font-size: 40px;
                    line-height: normal;

                    // background: url(../img/icon-download.svg) no-repeat center / contain;
                }

                @media(hover:hover) {
                    &:hover {
                        color: var(--color-primario-01);
                    }
                }
            }

        }
    }

    .portafolio {
        position: relative;

        &--title {
            position: absolute;
            top: 70px;
            left: 160px;

            h2 {
                font-size: 166px;
                line-height: 142px;
                color: var(--color-gris-02);
                font-weight: 300;
            }


            &--uno {
                position: relative;
                display: flex;

                // &::before {
                //     content: "";
                //     left: 310px;
                //     top: 47px;
                //     display: flex;
                //     width: 24px;
                //     height: 7px;
                //     background: var(--color-gris-02);
                //     position: absolute;
                //     z-index: 1;
                // }

                // &::after {
                //     content: "";
                //     position: relative;
                //     left: -4px;
                //     top: 48px;
                //     display: flex;
                //     width: 440px;
                //     height: 7px;
                //     background: var(--color-blanco-02);
                // }
            }

            #title-mobile {
                display: none;
            }
        }

        &--contenedor {
            position: absolute;
            top: 0;
        }

        &__col {
            position: relative;
        }

        &__card {
            background: var(--color-blanco-opacity);
            padding: var(--spacing-ml) var(--spacing-md);
            position: absolute;
            width: 303px;
            right: calc(-54px + 890 * ((100vw - 1280px) / 1366));

            h4 {
                font-size: 32px;
                color: var(--color-gris-02);
                font-weight: 300;
            }

            p {
                font-size: 18px;
                font-weight: 300;
            }

            &--uno {
                top: 500px;
                right: calc(-42px + 470 * ((100vw - 1280px) / 1366));
            }

            &--dos {
                top: 370px;

            }

            &--tres {
                top: 690px;
                background: var(--color-primario-opacity);
                color: var(--color-blanco-02);

                h4 {
                    color: var(--color-blanco-02);

                }
            }

            &--cuatro {
                top: 1050px;

            }

            &--cinco {
                top: 280px;
                right: 0;
            }

            &--seis {
                top: 620px;
                right: 0;
            }
        }

        .video-container {
            position: relative;
            width: 100%;
            height: 1410px;
            overflow: hidden;
            // mask-image: url(#myMask);
            mask-image: url(../img/mask-portafolio.png);
            mask-size: cover;
        }

        .video-container video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .worked {
        padding: 160px 0 350px;

        h2 {
            @include text-xl-56;
            color: var(--color-gris-02);
            font-weight: 300;
            margin-bottom: 48px;
        }

        &--logos {
            display: flex;
            align-items: center;
            column-gap: 72px;



            img {
                width: min(165px, 100%);
                height: 52px;
            }

        }

    }

    .contact {
        position: relative;
        background: var(--color-secundario-01);

        .custom-container {
            padding-right: 0;
            overflow-x: hidden;
        }

        &::before {
            content: "";
            height: 100px;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background: var(--color-blanco-01);
            @extend .col-xl-4;
        }

        &--title {
            margin-bottom: 94px;
            display: grid;
            row-gap: 16px;

            img {
                width: 100%;
            }

        }

        #title-mobile {
            display: none;
        }

        .title-img {
            margin-bottom: 94px;
            width: 100%;
        }

        &--info {
            height: 100%;
            padding: 216px 0 158px;
        }


        &__link {
            display: grid;
            row-gap: 24px;

            a {
                display: flex;
                align-items: center;
                column-gap: 16px;
                color: var(--color-blanco-01);
                text-decoration: none;
                @include text-sm-18;
                width: max-content;
                transition: .3s ease-in-out;

                &::before {
                    content: "";
                    display: block;
                    height: 32px;
                    width: 32px;
                    transition: .3s ease-in-out;
                }

                &#link-mail::before {
                    background: url(../img/mail-blanco.svg) no-repeat center / contain;
                }

                &#link-linkedin::before {
                    background: url(../img/linkedin-blanco.svg) no-repeat center / contain;
                }

                &#link-pdf::before {
                    background: url(../img/download-blanco.svg) no-repeat center / contain;
                }

                @media(hover:hover) {
                    &:hover {
                        color: var(--color-secundario-02);

                        &#link-mail::before {
                            background: url(../img/mail-azul.svg) no-repeat center / contain;
                        }

                        &#link-linkedin::before {
                            background: url(../img/linkedin-azul.svg) no-repeat center / contain;
                        }

                        &#link-pdf::before {
                            background: url(../img/download-azul.svg) no-repeat center / contain;
                        }
                    }
                }
            }
        }

        &--img {
            padding: 0;

            picture {
                height: 100%;
                display: block;
                overflow: hidden;
            }

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;

            }
        }
    }
}

@media (width >=1366px) {
    .home {
        .portafolio__card {
            &--uno {
                right: calc(-14px + 260 * ((100vw - 1366px) / 1440));
            }

            &--dos,
            &--tres,
            &--cuatro {
                right: calc(4px + 460 * ((100vw - 1366px) / 1440));
            }
        }
    }
}

@media (width >=1440px) {
    .home {
        .portafolio__card {
            &--uno {
                right: calc(-1px + 0 * ((100vw - 1440px) / 1920));
            }

            &--dos,
            &--tres,
            &--cuatro {
                right: calc(28px + 40 * ((100vw - 1440px) / 1920));
            }
        }
    }
}

@media (width < 768px) {
    .home {
        .hero {
            height: auto;
            padding: 64px 0;

            video {
                display: none;
            }

            &--title {
                display: none;
            }

            &--text {
                position: relative;
                inset: initial;

                h1 {
                    font-size: 48px;
                    font-weight: 500;
                    width: 50%;
                    margin-bottom: 16px;
                }

                h2 {
                    font-size: 24px;
                }
            }
        }

        .resume {
            padding-bottom: 54px;

            &--info {
                position: relative;
                left: auto;
                top: auto;
                flex-direction: column;

                #pic2 {
                    width: auto;
                }
            }

            picture {
                &#pic1 {
                    height: 300px;
                }

                &#pic2 {
                    left: auto;
                }

            }

            .col-xl-2.col-6 {
                order: 2;
            }

            .col-6 {
                padding: 0;
            }

            &--text {
                inset: initial;
                order: 3;
                margin-top: 48px;

                h3 {
                    margin-bottom: 32px;
                }
            }
        }

        .portafolio {
            .video-container {
                height: 360px;
                mask-image: none;
                margin-bottom: 24px;
            }

            &--title {
                top: 60px;
                left: auto;

                img:not(#title-mobile) {
                    display: none;
                }

                #title-mobile {
                    display: block;
                }
            }

            &--contenedor {
                position: relative;
                top: auto;
                padding: 0;
            }

            &__card {
                margin-bottom: 8px;
                position: relative;
                inset: initial;
                width: auto;
                background: var(--color-blanco-opacity);

                h4 {
                    color: var(--color-gris-02);
                }

                p {
                    color: var(--color-negro-01);
                }

            }
        }

        .worked {
            padding: 80px 0;

            &--logos {
                flex-direction: column;
                row-gap: 54px;
            }
        }

        .contact {
            padding: 80px 0 0;

            &::before {
                display: none;
            }

            .custom-container {
                padding-left: 0;

            }

            &--info {
                padding: 0 calc(var(--bs-gutter-x) * 0.5) 0 30px;
            }

            #title-mobile {
                display: block
            }

            .contact--title--uno,
            .contact--title--dos {
                display: none;
            }

            .title-img {
                margin-bottom: 40px;
            }

            &--img {
                margin-top: 80px;

                picture {
                    height: 300px;
                }
            }
        }
    }

}
