.main-portafolio {
    .hero {
        [class*="container"] {
            padding-right: 0;
        }

        .row {
            align-items: center;
        }

        &--col-img {
            position: relative;
            padding-right: 0;
            overflow: hidden;
        }

        &--back {
            height: 780px;
            display: block;
            mask: url("../../img/mask-portafolio-hero.png") no-repeat 5px center / cover;
        }

        &--title {
            display: grid;
            position: absolute;
            inset: 0;
            left: calc(25px - 500 * ((100vw - 1280px) / 1440));
            bottom: calc(-14px - 280 * (100vw - 1280px) / 1440);
            margin: auto;
            background: rgba($color: #000000, $alpha: .55);
            width: max-content;
            height: max-content;
            padding: 50px 100px 50px 0;


            img {
                width: 280px;
            }

            svg {
                position: absolute;
                left: 279px;
                top: 80px;
            }
        }

        &--col-info {
            background: var(--color-primario-01);
            color: var(--color-blanco-01);
            padding: 0;
            margin-top: calc(70px + 320 * (100vw - 1280px) / 1440);
        }

        &--info {
            padding: var(--spacing-2xl) var(--spacing-lg);
            display: grid;
            row-gap: var(--spacing-sm);

            h1 {
                @include text-xl-56;
                font-weight: 100;
            }

            .tag {
                @include tag;
                @include text-sm-16;
            }
        }

        .colabs {
            display: flex;
            padding: 0 var(--spacing-lg);
            padding-bottom: var(--spacing-2xl);

            &__item {
                display: flex;
                column-gap: var(--spacing-xs);
                flex-basis: 25%;

                [class*="icon-"] {
                    color: var(--color-blanco-01);

                }

                h4 {
                    @include text-sm-14;
                    color: var(--color-blanco-01);
                }

                h5 {
                    @include text-sm-16;
                }
            }
        }
    }

    .descripcion {
        padding: 80px 0;

        &--info {
            display: grid;
            row-gap: var(--spacing-lg);

            &>.row {
                row-gap: var(--spacing-5xl);

            }
        }

        h1 {
            color: var(--color-gris-02);
            @include text-lg-32;
            margin-bottom: var(--spacing-lg);
            font-weight: 100;
            font-family: var(--font-secondary-regular);
        }

        h2 {
            @include text-lg-32;
            font-weight: 100;
        }

        p {
            @include text-sm-16;
            font-family: var(--font-terciary-regular);
        }

        h4 {
            @include text-md-24;
            font-weight: 100;
        }

        h5 {
            @include text-sm-16;
            margin-bottom: var(--spacing-sm);

        }


        &--process {
            display: grid;
            row-gap: var(--spacing-5xl);

            div:not(.row) {
                display: grid;
                row-gap: var(--spacing-2xl);
            }

            .row {
                row-gap: var(--spacing-2xl);
            }

        }
    }

    .conclusion {
        [class*="container"] {
            padding-right: 0;
        }

        .row {
            align-items: center;
            row-gap: var(--spacing-2xl);

            [class*="col-"]:not(.conclusion--info) {
                padding: 0;
            }
        }

        &--info {
            background: var(--color-gris-02);
            padding: var(--spacing-2xl) var(--spacing-4xl);
            color: var(--color-blanco-01);
            row-gap: var(--spacing-2xl);
            display: grid;

            h4 {
                @include text-lg-32;
                font-family: var(--font-secondary-regular);
                font-weight: 100;
            }

            p {
                @include text-sm-16;
            }
        }
    }

    .otros {
        @include otros;
    }
}


@media(width < 1280px) {
    .main-portafolio {
        .hero {
            .row {
                align-items: flex-end;
            }

            &--back {
                height: calc(780px + 270*(100vw - 1280px) / 768);
                ;
            }

            &--col-info {
                margin-top: 0;
                margin-bottom: var(--spacing-lg);
            }

            &--title {
                left: calc(30px - 115*(100vw - 1280px) / 768);
                bottom: calc(-14px - 40*(100vw - 1280px) / 768);

                img {
                    width: calc(280px + 100*(100vw - 1280px) / 768);
                }
            }

            &--info {
                padding: var(--spacing-lg);
            }

            .colabs {
                flex-flow: row wrap;
                row-gap: var(--spacing-lg);

                &__item {
                    flex-basis: 50%;
                }
            }
        }

        .conclusion {
            &--info {
                padding: var(--spacing-lg);
            }
        }
    }
}


@media(width < 768px) {
    .main-portafolio {
        .hero {
            [class*="container"] {
                padding: 0;
            }

            &--back {
                mask: none;
                height: auto;


                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }


            &--title {
                padding: 50px 0;
                background: none;
                inset: 0;
                width: 100%;

                svg {
                    display: none;
                }

                &--dos {
                    display: none;
                }

                img {
                    width: 100%;
                }
            }

            &--info {
                h1 {
                    @include text-lg-48;
                }
            }
        }

        .descripcion {
            padding: var(--spacing-5xl) 0;

            [class*="container"] {
                padding: 0;
            }

            h1,
            h2 {
                @include text-md-24;
                padding: 0 calc(var(--bs-gutter-x) * 1);

            }

            h4 {
                @include text-sm-18;
                padding: 0 calc(var(--bs-gutter-x) * 1.5);
            }

            h5,
            p {
                padding: 0 calc(var(--bs-gutter-x) * 1);
            }



            &--info {
                &>.row {
                    row-gap: var(--spacing-lg);


                }
            }

            &--process {
                row-gap: var(--spacing-lg);

                div:not(.row) {
                    row-gap: var(--spacing-lg);

                    &>h4 {
                        padding: 0 calc(var(--bs-gutter-x) * 1);
                    }
                }
            }
        }

        .conclusion {
            [class*=container] {
                padding: 0;
            }

            .row {
                row-gap: 0;
            }
        }
    }
}
