& {
    @include font-regular;
    color: var(--color-negro-01);
    background: var(--color-blanco-01);
    overflow-x: hidden;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li,
    figure {
        margin: 0;
    }

    main {
        overflow: hidden;
    }

    .custom-container {
        @include media-breakpoint-up(md) {
            @include make-container(48px);
        }

        @include media-breakpoint-up(lg) {
            @include make-container(128px);
        }

        @include media-breakpoint-up(xl) {
            @include make-container(118px);
        }

        @include media-breakpoint-up(xxl) {
            @include make-container(118px);
            // max-width: 1174px;
        }
    }

    &:has(.main-portafolio),
    &:has(.main-articulo) {

        #li-portafolio {
            &::after {
                background: var(--color-primario-01);
            }
        }
    }
}

@media(width < 768px) {
    & {

        &:has(.main-portafolio),
        &:has(.main-articulo) {
            .header--navegacion ul li::after {
                display: block;
            }
        }
    }
}
