& {
    @include font-regular;
    color: var(--color-negro-01);
    background: var(--color-blanco-01);

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    li {
        margin: 0;
    }

    .custom-container {
        @include media-breakpoint-up(md) {
            @include make-container(48px);
        }

        @include media-breakpoint-up(lg) {
            @include make-container(128px);
        }

        @include media-breakpoint-up(xl) {
            @include make-container(52px);
        }

        @include media-breakpoint-up(xxl) {
            @include make-container(52px);
            // max-width: 1174px;
        }
    }
}
