-titulo =  "Sonia Gayosso"

doctype
html(lang='es')
   include includes/head.pug

   body
      include includes/header.pug

      main.projects#projects_three

         section.hero 
            include includes/sidebar.pug

            .container 
               .row 
                  .col-lg-7.offset-lg-1
                     .hero--copy
                        h1 
                           b Service Design and Digital Transformation

                        h3 Closing the gaps on a strict corporate environment


                  .col-lg-4.hero--pic
                     picture 
                        source(srcset="img/Desktop/Proyectos/CardProyecto-02.webp" type="image/webp")
                        img.img-fluid(src="img/Desktop/Proyectos/CardProyecto-02.jpg" alt="Gayosso")


         section.content
            .container 
               .row 
                  .col-lg-3#col-nav
                     .content--nav 
                        h4 
                           b Framing requirements as hypothesis

                        .swiper#swiper_nav
                           .swiper-wrapper
                              .swiper-slide
                                 h5#li-cero The project

                              .swiper-slide
                                 h5#li-uno 01.  Strategy

                              .swiper-slide
                                 h5#li-dos 02.  Service Blueprint | Roadmapping

                              .swiper-slide
                                 h5#li-tres 03. Facilitation

                              .swiper-slide
                                 h5#li-cuatro 04. UX Roadmapping | Facilitation

                              .swiper-slide
                                 h5#li-cinco 05. Conclusion


                  .col-lg-9
                     .content__00.content__03.d-flex#cero
                        .content__00__item.d-flex
                           img.img-fluid(src="img/Icons/Company-icon.svg" alt="Gayosso")
                           h6 Company
                              span Merck Sharp and Dohme

                        .content__00__item.d-flex
                           img.img-fluid(src="img/Icons/Industry-icon.svg" alt="Gayosso")
                           h6 industry
                              span Pharmaceutical

                        .content__00__item.d-flex
                           img.img-fluid(src="img/Icons/Design-icon.svg" alt="Gayosso")
                           h6 Overall Design Maturity
                              span Dedicated UX Budget. 
                                 a(href="https://www.nngroup.com/articles/ux-maturity-stages-1-4/" target="_blank" rel="noopener noreferrer")  Learn more

                        .content__00__item.d-flex
                           img.img-fluid(src="img/Icons/Duration-icon.svg" alt="Gayosso")
                           h6 Duration
                              span 18 months

                        .content__00__item.d-flex
                           img.img-fluid(src="img/Icons/Teams-icon.svg" alt="Gayosso")
                           h6 Teams Involved
                              span Marcomm, Scientific Reviewers, Design, IT Consultants

                        .content__00__item.d-flex
                           img.img-fluid(src="img/Icons/Role-icon.svg" alt="Gayosso")
                           h6 ROLE PLAYED
                              span Strategy and Service Blueprint creation, Roadmapping, Workshop Facilitation

                        .content__00__item.d-flex
                           img.img-fluid(src="img/Icons/Project-icon.svg" alt="Gayosso")
                           h6 Project
                              span LATAM Digital Transformation Initiative

                     .content__01 
                        .col-12
                           h4.text-decorated Background

                        .row.content__01__parrafo
                           .col-lg-5
                              p 
                                 b Merck and Co. is one of the largest pharmaceutical companies with more than 69,000 employees worldwide. Their Human Health division has developed several vaccines, widely used prescription drugs and oncology immunotherapy products.

                           .col-lg-7
                              p In 2012 MSD US started a customer centricity initiative that included the Latin America Marcomm operations.

                              p With 12 marketers and 4 visual designers, their initial efforts resulted in unarticulated, inconsistent and poorly integrated attempts, that sharpened the need of a collaborative ecosystem to navigate the digital transformation endeavour.

                     .content__02
                        .col-12
                           h4.text-decorated Challenge

                        .row.content__01__parrafo
                           .col-lg-7
                              p MSD LatinAmerica Marcomm was constituted by a Center of Excellence to serve the region. A large number of collaborators with strategic understanding were enforcing consistency on every aspect over the decentralized teams located in every country.

                              p Nevertheless, the team was not prepared to switch to platforms with greater digital capabilities. The main challenge was to close the technical and digital gap, following the structure and ecosystem prepared by the corporate office.

                              p The Service Design team was in charge of exploring and simplifying the infrastructure to be used, aligning the internal processes, assisting the LATAM roadmap, and enabling a skill development plan.

                           .col-lg-5 
                              p  
                                 b Given that the CoE was localized in a single office in Mexico City, the best operating model seemed to be a University schema.

                              p
                                 b This dedicated operations-alignment and training program approached the CoE experts at first, and the country leaders as a secondary step.

                           .col-12 
                              h5.text-color 
                                 b Without knowing it at the moment, this project was my first approach to service design; while I deeply enjoyed it, my understanding of a ‘service’ grew extensively by being an active piece on the definition of the hows - as how we work together and how we get work done as an organization.
                                 br
                                 b My life lesson was to experience the impact of embracing our collective vulnerability, and to see how this strengthens the sense of purpose, engagement and collaboration among the team.

                     .content__03#uno
                        h2.title-big 01.
                           span Strategy

                        .row
                           .col-12.content__03__fila
                              p Following the objectives defined by the corporate office, the LATAM Marcomm CoE defined the strategic goals for the region and the team objectives.

                              p The overall process, owners and responsibilities were still ambiguous and undefined, but one of the outcomes was clear: the need to transition from print to digital media. Since this was visualized as a design assignment, the Design team took the leadership on the task, and eventually of the project.

                              p While the corporate office developed the infrastructure to enable our team bringing digital assets within the compliance and data regulations, our job was to prepare the regional leaders for the change.

                        .row
                           .col-lg-5
                              p As a first step, we needed the understand and document the current process; since this was an in-house initiative, was a straightforward assignment. However, a series of interviews were needed to confirm if there were variations at a country level, and to highlight the gaps between the CoE goals and each country leader goals.

                           .col-lg-7
                              picture 
                                 source(srcset="img/Articulo3/01.webp" type="image/webp")
                                 img.img-fluid(srcset="img/Articulo3/01.jpeg")

                     .content__03#dos
                        h2.title-big 02.
                           span Service Blueprint |
                              br 
                              |  Roadmapping

                        .row
                           .col-lg-5
                              p The next step was to visualize the underlying structure of the region with a service blueprint; we were particularly interested in mapping all the interactions stakeholder by stakeholder, action by action, and to expose the places to innovate.

                              p Meanwhile, the first stage of the digital platforms were released and, with a clear view of the ecosystem, an unified scalable process was finally defined by the marcomm stakeholders.

                              p Our team was able to prepare the regional operating model, establishing workflows and procedures, ownerships, definitions and rules, considering flexible aspects as country budget and the life-cycle of each product; the model also contemplated a staged transition as we were expecting a digital landscape in constant evolution - at least - for the next four years.

                           .col-lg-7
                              picture 
                                 source(srcset="img/Articulo3/02.webp" type="image/webp")
                                 img.img-fluid(srcset="img/Articulo3/02.jpeg")


                           .col-12
                              picture 
                                 source(srcset="img/Articulo3/03.webp" type="image/webp")
                                 img.img-fluid(srcset="img/Articulo3/03.jpeg")

                              p By showing the broad process of Succession Planning (everything above the dashed line), in comparison to the areas where the system was currently supporting those actions (everything below the dashed line), exposed the opportunity to support criteria and definitions to align the system to our users’ needs and values.

                     .content__03#tres
                        h2.title-big 03.
                           span Facilitation

                        .row.content__03__fila

                           .col-lg-5
                              p The next phase was to concentrate in the in-house production of digital assets.

                              p Two core subjects needed training and coaching: the creation of digital content through compelling visual storytelling, and the understanding of the tools’ capabilities - considering the CRM specifications and data collecting for decision making.

                           .col-lg-7
                              picture 
                                 source(srcset="img/Articulo3/04.webp" type="image/webp")
                                 img.img-fluid(srcset="img/Articulo3/04.jpeg")

                        .row.content__03__fila
                           .col-lg-7
                              picture 
                                 source(srcset="img/Articulo3/05.webp" type="image/webp")
                                 img.img-fluid(srcset="img/Articulo3/05.jpeg")

                           .col-lg-5
                              p Taking a directive approach, I conducted a series of workshops for different audiences. Marketing coordinators and scientific reviewers seminars were focused on defining the objectives (the what, to whom, why), storytelling (how much info, when), storyboarding (how to use a newly provided template to document the information).

                           .col-12
                              picture 
                                 source(srcset="img/Articulo3/06.webp" type="image/webp")
                                 img.img-fluid.mt-3.mb-4(srcset="img/Articulo3/06.jpeg")

                     .content__03#cuatro
                        h2.title-big 04.
                           span UX Roadmapping |
                              br 
                              | Facilitation


                        .row.content__03__fila

                           .col-lg-7
                              picture
                                 source(srcset="img/Articulo3/07.webp" type="image/webp")
                                 img.img-fluid.d-block.m-auto(srcset="img/Articulo3/07.jpeg")

                           .col-lg-5 
                              p For the design team a greater effort and support was needed to implement the in-house digital publishing, fortunately we could collaborate with other regions (Europe in particular) for this initiative.

                        .row.content__03__fila
                           .col-lg-5 
                              p To start, I conducted a technical and cost-benefit analysis of tools (in5 plug-in for Adobe inDesign and Oracle on Demand CRM), assessing, comparing and tracking their performance; after defining the tools to be used and its technical capabilities, I prepared a collection of assets (HTML templates, step by step guides), and run a series of introductory courses and mentoring sessions for designers not fluent in user interface, interaction and user experience.
                              p The results included an effective cost saving of more than 75% on digital publish rates.

                           .col-lg-7
                              picture
                                 source(srcset="img/Articulo3/08.webp" type="image/webp")
                                 img.img-fluid.d-block.mt-3.mb-4(srcset="img/Articulo3/08.jpeg")

                        .row.content__03__fila
                           .col-12
                              h4.text-decorated.mt-3.mb-4 Closure

                           .col-12
                              p The implementation of this first stage took 18 months; the results included a newly gain digital expertise and an internal strategic understanding in all CoE team members, ready to train and enforce consistency over the decentralized team located on every country.

                              picture
                                 source(srcset="img/Articulo3/09.webp" type="image/webp")
                                 img.img-fluid.d-block.mt-3.mb-4(srcset="img/Articulo3/09.jpeg")


                     .content__03.content__04#cinco
                        .row
                           .col-12.content__03__fila
                              h2.title-big 05.
                                 span Conclusion

                        .row.content__03__fila
                           .col-lg-6 
                              p Facilitating the unlearning-and-relearning path for our team mates, trying to smooth the journey towards a blurry destination while acquiring and maintaining the team’s confidence on iterative solutions, was a first-time painful but valuable experience.

                           .col-lg-6 
                              p What’s interesting is that, even when at the time we were not calling this “Service Design” nor using the now standard vocabulary, all the processes and methodologies were in essence human-centered design - research, define, ideate, prototype, test.


                        .row.content__04__other

                           h4 Other projects

                           .row
                              .col-12.d-flex.work__row
                                 a(href="project_one.html") 
                                    .work__card 
                                       picture 
                                       source(media="(max-width: 992px)" srcset="img/Mobile/Proyectos/CardProyecto-01.webp" type="image/webp")
                                       source(media="(max-width: 992px)" srcset="img/Mobile/Proyectos/CardProyecto-01.jpg")
                                       source(srcset="img/Desktop/Proyectos/CardProyecto-01.webp" type="image/webp")
                                       img.img-fluid.img-fit(src="img/Desktop/Proyectos/CardProyecto-01.jpg")

                                       .work__card__copy 
                                          h4 
                                             b Framing requirements as hypothesis

                                          h6 There’s some UX in your PM

                                 a(href="project_two.html") 
                                    .work__card 
                                       picture 
                                          source(media="(max-width: 992px)" srcset="img/Mobile/Proyectos/CardProyecto-02.webp" type="image/webp")
                                          source(media="(max-width: 992px)" srcset="img/Mobile/Proyectos/CardProyecto-02.jpg")
                                          source(srcset="img/Desktop/Proyectos/CardProyecto-02.webp" type="image/webp")
                                          img.img-fluid.img-fit(src="img/Desktop/Proyectos/CardProyecto-02.jpg")

                                       .work__card__copy 
                                          h4 
                                             b Design Sprints for long projects

                                          h6 Internal collaboration through workshops

         include includes/footer.pug