.footer {
    background: var(--color-negro-01);
    padding: 20px 0;

    h6 {
        color: var(--color-blanco-01);
        @include text-sm-18;
        font-weight: 300;
        padding-left: 60px;
    }
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: var(--color-blanco-01);
    padding: 48px 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    z-index: 99;

    a {
        text-decoration: none;
    }

    .link-back {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 24px;

        #icon-back {
            transform: rotateZ(270deg);
            width: max-content;
            font-size: 24px;
            position: absolute;
            top: 10px;
        }
    }

    h5 {
        color: var(--color-primario-01);
        writing-mode: tb;
        transform: rotateZ(180deg);
        @include text-md-28;
        font-weight: 300;
    }

    &--icons {
        display: flex;
        flex-direction: column;
        row-gap: 24px;

        img {
            width: 30px;
        }

        a {
            font-size: 30px;
            transition: .3s ease-in-out;

            @media(hover:hover) {
                &:hover {
                    color: var(--color-primario-01);
                }
            }
        }
    }

    #back-top {
        margin-top: 24px;
        cursor: pointer;
        font-size: 30px;
        opacity: 0;
        transition: .3s ease-in-out;

        @media(hover:hover) {
            &:hover {
                color: var(--color-primario-01);
            }
        }
    }
}


@media (width < 768px) {
    .footer {
        h6 {
            text-align: center;
            padding-left: 0;
        }
    }

    .sidebar {
        width: 0;
        background: none;
        padding: 0;
        height: auto;
        position: absolute;

        * {
            display: none;
        }

        #icon-back {
            position: absolute;
            top: 68px;
            left: 24px;
            display: block;
            color: var(--color-blanco-01);
        }
    }
}
