.header {
    position: fixed;
    right: 0;
    width: max-content;
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(10px);
    padding: var(--spacing-md) var(--spacing-2xl) 0;
    top: 0;
    align-items: center;
    z-index: 11;
    display: flex;

    &--logos {
        display: none;
    }

    &--navegacion {
        justify-content: flex-end;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            align-items: center;
            column-gap: 32px;


            li {
                &::after {
                    content: "";
                    height: 4px;
                    background: transparent;
                    width: 100%;
                    display: block;
                    margin: 6px auto 0;
                    transition: 0.3s ease-in-out all;
                }

                @media(hover:hover) {
                    &:hover::after {
                        background: var(--color-primario-01);
                    }
                }

                &.active {
                    color: var(--color-primario-01);
                    font-weight: 500;

                    &::after {
                        background: var(--color-primario-01);
                    }
                }

                a {
                    color: inherit;
                    text-decoration: none;
                    transition: 0.3s ease-in-out all;
                    cursor: pointer;
                }
            }
        }
    }


}

@media(width < 768px) {
    .header {
        height: auto;
        padding: 8px 16px;
        width: 100% !important;
        position: sticky;

        &--navegacion ul li {
            &::after {
                display: none;
            }
        }

        #li-contact {
            display: none;
        }

        #navbarNav {
            display: flex;
            align-items: center;
            justify-content: space-between;

            li {
                font-size: 16px;
            }
        }

        &--logos {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            column-gap: 24px;
        }
    }
}
