

/// VALIDACION SAFARI

@media not all and (min-resolution:.001dpcm){ @supports (-webkit-appearance:none) {
    & {
		.text-color{
			// background: -webkit-linear-gradient(270deg,#7371C9 7.81%,#FA9035 96.77%);
			background: none !important;
			-webkit-background-clip:initial !important;
			-webkit-text-fill-color: var(--purple_dos) !important;
			color: var(--purple_dos);
		}
	}

	/// MOBILE
	@media (max-width:992px) {
		main {
		
		}
	}

	// 992
}}
